asgiref
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
comtypes
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
EasyProcess
entrypoint2
filelock
Flask
idna
itsdangerous
Jinja2
Markdown
MarkupSafe
MouseInfo
mss
numpy
opencv-contrib-python
package_name
phonenumbers
Pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
PyMySQL
pyperclip
pypiwin32
pypng
PyRect
pyscreenshot
PyScreeze
pyttsx3
pytweening
pytz
pywhatkit
pywin32
qrcode
requests
soupsieve
sqlparse
typing_extensions
tzdata
urllib3
virtualenv
Werkzeug
wikipedia