{% extends 'base.html'%}
{%load static %}
{% block content %}
<div class="banner">
    <h1 class="fw-bold text-center p-5">About Us</h1>
</div>








<!--  part two  -->



<div style="margin-top: 50px;"
  class="row d-flex container-fluid  justify-content-center align-items-center flex-lg-row flex-sm-column-reverse p-5">

  <div class="col-lg-5 col-md-5 col-sm-12 container-fluid">
    <h1 class="fs-1 fw-bold">The Biggest Digital Conference.</h1> <br>
    <p>There arge many variations ohf passages of sorem gpsum ilable, but the majority have suffered alteration in some
      form, by ected humour, or randomised words whi.rere arge many variations ohf passages of sorem gpsum ilable.</p>
    <br>
    <p>There arge many variations ohf passages of sorem gpsum ilable, but the majority have suffered alteration in.</p>
    <br>

    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'confrim' %}"
      class="hvr-sweep-to-bottom  sm-btn px-5 py-3 all-button fw-bold btn shadow  mt-3">Confrim
      User </a>
    {% elif user.is_authenticated%}
    <a href="{% url 'profile'  %}" class="hvr-sweep-to-bottom sm-btn px-5 py-3 all-button fw-bold btn shadow  mt-3">
      📞 Book Event</a>

    {% else %}
    <a href="{% url 'login'%}" class="hvr-sweep-to-bottom sm-btn px-5 py-3 all-button fw-bold btn shadow  mt-3 mb-sm-5">
      📞 Confrim
      now</a>
    {% endif %}
  </div>

  <div class="col-lg-5 col-md-5 col-sm-12 container-fluid">
    <img class=" hvr-shrink bg-banner" style="height: 435px;" src="{% static 'about1.png.webp'%}" alt="{% static 'about1.png.webp'%}">
  </div>
</div>






<!-- part theree -->




<div style="margin-top: 50px;"
  class="row d-flex container-fluid bg-color justify-content-center align-items-center flex-lg-row flex-sm-column-reverse p-5">

  <div class="col-lg-5 col-md-5 col-sm-12 container-fluid">
    <h1 class="fs-1 fw-bold">The Most Importent Speakers.</h1> <br>
    <p>There arge many variations ohf passages of sorem gpsum ilable, but the majority have suffered alteration in.</p>
    <br>
    <p>There arge many variations ohf passages of sorem gpsum ilable, but the majority have suffered alteration in.</p>
    <br>

    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'confrim' %}" class="hvr-sweep-to-bottom  px-5 py-3 all-button fw-bold btn shadow  mt-3">Confrim
      User </a>
    {%elif user.is_authenticated%}
    <a href="{% url 'profile' %}" class="hvr-sweep-to-bottom  px-5 py-3 all-button fw-bold btn shadow  mt-3">
      📞 Booking Event</a>
    {% else %}
    <a href="{% url 'login'%}" class="btn-button hvr-sweep-to-right fw-bold p-3"> 📞 Booking Event</a>
    {% endif %}
  </div>

  <div class="col-lg-5 col-md-5 col-sm-12 container-fluid">
    <div class="d-flex gap-3 responce-pic">
      <div class="d-flex flex-column">
        <img class="hvr-shrink " style="height: 250px;" src="{% static 'team1.png.webp'%}"
          alt="{% static 'team1.png.webp'%}">
        <p class="fw-bold text-center mt-3">JESSCIA BROWN</p>
        <small class="text-center">Co Founder</small>
      </div>

      <div class="d-flex flex-column">
        <img class="hvr-shrink " style="height: 250px;" src="{% static 'team2.png.webp'%}"
          alt="{% static 'team2.png.webp'%}">
        <p class="fw-bold text-center mt-3">JESSCIA BROWN</p>
        <small class="text-center">Co Founder</small>
      </div>
    </div>
  </div>
</div>








<!--  card show  -->


<div class="container text-center mt-5">
  <h1>program confirm</h1>
  <p>There arge many variations ohf passages of sorem gp ilable, but <br> the majority have ssorem gp iluffe.</p>
</div>

<div class=" container mt-5  mb-5 d-flex gap-1 justify-content-center aling-items-center flex-wrap">
  {% for i in Event %}
  <div class="card  hvr-back-pulse card-line " style="width: 23rem ; height: 26rem;">
    <a href="{% url 'details' i.id%}" class="text-decoration-none text-dark">
      <div class="card-body ">
        <h5 class="card-title fw-bold"> {{i.event_name}}</h5>
        <h6 class="card-title  fw-bold">{{i.event_category}}</h6>
        <h6 class="card-title text-gray fw-bold"><i class="bi bi-geo-alt-fill"></i> {{i.location}}</h6>
        <br>
        <hr style="color: rgb(204, 149, 149);">
        <h6 class="card-title fw-bold"><i class="bi bi-calendar3"></i> {{i.date}}</h6>
        <h6 class="card-title fw-bold"> <i class="bi bi-stopwatch-fill"></i> {{i.time}}</h6>
        <h6 class="card-title fw-bold">Attendence count - {{i.count}}
        </h6>
        <h6 class="card-title fw-bold">{{i.event_type}}</h6>

        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'confrim' %}"
          class="hvr-sweep-to-bottom  sm-btn px-5 py-3 all-button fw-bold btn shadow  mt-3">Confrim User </a>
        {%elif user.is_authenticated%}
        <a href="{% url 'confirm_data' i.pk %}"
          class="hvr-sweep-to-bottom  sm-btn px-5 py-3 all-button fw-bold btn shadow  mt-3"> 📞 Confrim now</a>
        {% else %}
        <a href="{% url 'login'%}" class="hvr-sweep-to-bottom  sm-btn px-5 py-3 all-button fw-bold btn shadow  mt-3"> 📞
          Confrim now</a>
        {% endif %}
    </a>
  </div>

</div>
{% endfor %}
</div>




{% endblock %}