{% load static %}

<nav style="background-color: rgb(240, 239, 239);" class="navbar py-3 navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home'%}">
      <img src="{% static 'logo.png.webp'%}" alt="Logo" class="d-inline-block align-text-top" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item hvr-underline-from-left ">
          <a href="{% url 'home' %}" aria-current="page" class="nav-link fw-bold ">Home</a>
        </li>
        <li class="nav-item hvr-underline-from-left ">
          <a href="{% url 'about' %}" aria-current="page" class="nav-link fw-bold ">About Us</a>
        </li>
        <li class="nav-item hvr-underline-from-left ">
          <a href="{% url 'contact' %}" aria-current="page" class="nav-link fw-bold ">Contact Us</a>
        </li>
        {% if user.is_authenticated and user.is_staff %}
        <li class="nav-item hvr-underline-from-left ">
          <a href="{% url 'event_creation'%}" aria-current="page" class="nav-link fw-bold ">Event Organizer </a>
        </li>
        {% endif %}
      </ul>
      <div class="d-flex">
        {% if user.is_authenticated %}
        <div class="dropdown">
          <a class="dropdown-toggle mx-lg-4 mx-4 fw-bolder text-dark text-decoration-none" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Welcome, {{user.username}}
          </a>
          <ul class="dropdown-menu">

            {% if user.is_authenticated and user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'staff' %}">Update now </a></li>
            <li><a class="dropdown-item" href="{% url 'confrim' %}">confirm user </a></li>
            <li><a class="dropdown-item" href="{% url 'edit' user.id%}">Profile</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'profile'%}">confirm Event Details</a></li>
            <li><a class="dropdown-item" href="{% url 'edit' user.id%}">Profile</a></li>
            {% endif %}
          </ul>
        </div>
        <a class="all-button hvr-sweep-to-bottom btn " href="{% url 'logout'%}">logout</a>

        {% else %}
       
          <a href="{% url 'register'%}" class="hvr-sweep-to-bottom  px-5 py-2 all-button fw-bold btn shadow  mt-3">Register</a>
          <a href="{% url 'login'%}" class="hvr-sweep-to-bottom  px-5 py-2 all-button fw-bold btn shadow  mt-3">LogIn</a>
        {% endif %}      
      </div>
    </div>
  </div>
</nav>